<section class="main__get-started get-started">
    <div class="container">
        <div class="get-started__wrapper">
            <img src="./assets/img/get-started-img.jpg" alt="Company peoples foto">
            <div class="get-started__form-wrapper">
                <h3 class="get-started__form-title heading-h4"> Let’s level up your brand </h3>
                <p class="get-started__form-descr text-p-medium"> You can reach us anytime <a href="mailto:hellosansbrothers@gmail.com"> hellosansbrothers@gmail.com </a> </p>
                <form class="get-started__form">
                    <div class="get-started__form-top">
                        <label for="" class="get-started__form-label">
                            <span class="get-started__form-label-text text-p-small">
                                First name
                            </span>
                            <input type="text" class="get-started__form-input get-started__form-input--small" placeholder="First name">
                        </label>
                        <label for="" class="get-started__form-label">
                            <span class="get-started__form-label-text text-p-small">
                                Last name
                            </span>
                            <input type="text" class="get-started__form-input get-started__form-input--small" placeholder="Last name">
                        </label>
                    </div>
                    <label for="" class="get-started__form-label">
                        <span class="get-started__form-label-text text-p-small">
                            Email
                        </span>
                        <input type="email" class="get-started__form-input" placeholder="you@company.com">
                    </label>
                    <label for="" class="get-started__form-label">
                        <span  required class="get-started__form-label-text text-p-small">
                            Phone number
                        </span>
                        <input type="tel" class="get-started__form-input iti__tel-input" data-intl-tel-input-id="0" autocomplete="off" id="phone" name="phone">
                    </label>
                    <label for="" class="get-started__form-label">
                        <span class="get-started__form-label-text text-p-small">
                            Message
                        </span>
                        <textarea class="get-started__form-textaria" placeholder="Leave us a message... "></textarea>
                    </label>
                    <button class="get-started__form-button button-form"> Get Started </button>
                </form>
            </div>
        </div>
    </div>
</section>