<section class="main__hero hero">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__creative">
                <h2 class="hero__title">
                    Digitally forward <br> creative
                </h2>
                <p class="hero__subtitle text-p-subtitle">
                    When it comes to interactive marketing, we've got you covered.
                    Be where the world is going
                </p>
                <form action="" class="hero__form">
                    <input type="email" class="hero__input" placeholder="Enter your email">
                    <button type="submit" class="hero__button button-form"> Try for free </button>
                </form>
            </div>
            <div class="hero__right">
                <div class="hero__sales">
                    <h3 class="hero__sales-title"> Sales Report </h3>
                    <img src="../../../assets/icon/sales-report-graph-icon.svg" alt="Sales Reports" width="366" height="260" class='hero__sales-img'>
                    <div class="hero__customer">
                        <h3 class="hero__customer-title"> Customer Growth </h3>
                        <img src="../../../assets/icon/customer-growth-graph-icon.svg" alt="Customer Growth" width="177" height="149">
                    </div>
                </div>
                <table class="hero__stats">
                    <thead class="hero__stats-head">
                        <tr class="hero__stats-head-row">
                            <th class="hero__stats-head-column"> Sales </th>
                            <th class="hero__stats-head-column"> Marketing </th>
                        </tr>
                    </thead>
                    <tbody class="hero__stats-body">
                        <tr class="hero__stats-body-row">
                            <th class="hero__stats-body-column"> $31,092 </th>
                            <th class="hero__stats-body-column"> $29,128 </th>
                        </tr>
                        <tr class="hero__stats-body-row">
                            <th class="hero__stats-body-column">
                                <span class="hero__stats-body-num hero__stats-body-num--green"> 4.2% </span>
                                <span class="hero__stats-body-text"> from last year </span>
                            </th>
                            <th class="hero__stats-body-column">
                                <span class="hero__stats-body-num hero__stats-body-num--red"> 1.2% </span>
                                <span class="hero__stats-body-text"> from last year </span>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>