<section class="main__insight insight">
    <div class="container">
        <h2 class="insight__title heading-h2">
            Trending news from Coca
        </h2>
        <p class="insight__descr p-text-medium">
            we have some new Service to pamper you
        </p>
        <div class="swiper insight__slider">
            <button class="insight__slider-bnts">
                <svg width="26.333252" height="16.345581" viewBox="0 0 26.3333 16.3456" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <desc>
                        Created with Pixso.
                    </desc>
                    <defs/>
                    <path id="Arrow1" d="M18.16 1.5L24.83 8.17L18.16 14.83" stroke="#7E8492" stroke-opacity="1.000000" stroke-width="3.000000" stroke-linejoin="round" stroke-linecap="round"/>
                    <path id="Arrow2" d="M8.16 14.83L1.5 8.17L8.16 1.5" stroke="#7E8492" stroke-opacity="1.000000" stroke-width="3.000000" stroke-linejoin="round" stroke-linecap="round"/>
                </svg>  
            </button>
            <div class="insight__pagination"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide insight-slide">
                    <img src="../../../assets/img/insight-slide-1-img.jpg" alt="Slide 1" width="582" height="332">
                    <div class="insight-slide__info">
                        <p class="insight-slide-publish p-text-small"> Published in Insight Jan 30, 2021 </p>
                        <address class="insinght-slide-author p-text-small"> by : Albert Sans </address>
                    </div>
                    <h5 class="insight-slide-promblem heading-h5">What makes an authentic employee profile, and why does it matter ?</h5>
                </div>
                <div class="swiper-slide insight-slide">
                    <img src="../../../assets/img/insight-slide-2-img.jpg" alt="Slide 2" width="582" height="332">
                    <div class="insight-slide__info">
                        <p class="insight-slide-publish p-text-small"> Published in Insight Jan 30, 2021 </p>
                        <address class="insinght-slide-author p-text-small"> by : Albert Sans </address>
                    </div>
                    <h5 class="insight-slide-promblem heading-h5">How to build a Kaylen relationship with a good company</h5>
                </div>
                <div class="swiper-slide insight-slide">
                    <img src="../../../assets/img/insight-slide-1-img.jpg" alt="Slide 3" width="582" height="332">
                    <div class="insight-slide__info">
                        <p class="insight-slide-publish p-text-small"> Published in Insight Jan 30, 2021 </p>
                        <address class="insinght-slide-author p-text-small"> by : Albert Sans </address>
                    </div>
                    <h5 class="insight-slide-promblem heading-h5">What makes an authentic employee profile, and why does it matter ?</h5>
                </div>
                <div class="swiper-slide insight-slide">
                    <img src="../../../assets/img/insight-slide-2-img.jpg" alt="Slide 4" width="582" height="332">
                    <div class="insight-slide__info">
                        <p class="insight-slide-publish p-text-small"> Published in Insight Jan 30, 2021 </p>
                        <address class="isinght-slide-author p-text-small"> by : Albert Sans </address>
                    </div>
                    <h5 class="insight-slide-promblem heading-h5">How to build a Kaylen relationship with a good company</h5>
                </div>
            </div>
        </div>
    </div>
</section>