<section class="main__partners partners">
    <div class="container">
        <div class="partners__wrapper">
            <div class="partners__info">
                <h2 class="partners__title heading-h2">890+</h2>
                <p class="partners__desrc text-p-medium"> some big companies that we work <span><br></span> with, and trust us very much</p>
            </div>
            <ul class="partners__list">
                <li class="partners__item">
                    <img src="./assets/icon/partners/airbnb-logo-icon.svg" alt="Airbnb logo">
                </li>
                <li class="partners__item">
                    <img src="./assets/icon/partners/amazon-logo-icon.svg" alt="Amazon logo">
                </li>
                <li class="partners__item">
                    <img src="./assets/icon/partners/fedex-logo-icon.svg" alt="Fedex logo">
                </li>
                <li class="partners__item">
                    <img src="./assets/icon/partners/microsoft-logo-icon.svg" alt="microsoft logo">
                </li>
                <li class="partners__item">
                    <img src="./assets/icon/partners/google-logo-icon.svg" alt="Google logo">
                </li>
                <li class="partners__item">
                    <img src="./assets/icon/partners/ola-logo-icon.svg" alt="Ola logo">
                </li>
                <li class="partners__item">
                    <img src="./assets/icon/partners/walmart-logo-icon.svg" alt="Walmart logo">
                </li>
                <li class="partners__item">
                    <img src="./assets/icon/partners/oyo-logo-icon.svg" alt="Oyo logo">
                </li>
            </ul>       
        </div>
    </div>
</section>