<section class="main__strenght strenght">
    <div class="container">
        <div class="strenght__wrapper">
            <ul class="strenght__list">
                <li class="strenght__item">
                    <h4 class="strenght__item-title"> 17k </h4>
                    <p class="strenght__item-text text-p-medium"> happy customers on worldwide </p>
                </li>
                <li class="strenght__item">
                    <h4 class="strenght__item-title"> 15+ </h4>
                    <p class="strenght__item-text text-p-medium"> Hours of work experience </p>
                </li>
                <li class="strenght__item">
                    <h4 class="strenght__item-title"> 50+ </h4>
                    <p class="strenght__item-text text-p-medium"> Creativity & passionate members </p>
                </li>
                <li class="strenght__item">
                    <h4 class="strenght__item-title"> 100+ </h4>
                    <p class="strenght__item-text text-p-medium"> Integrations lorem ipsum integrations </p>
                </li>
            </ul>
            <img src="../../../assets/img/strength-img.jpg" alt="strenght img" height="536px" width="1200px">
            <div class="strenght__info">
                <h2 class="strenght__title heading-h2">Lift your business to new heights with our digit al marketing services</h2>
                <p class="strenght__text text-p-medium">To build software that gives customer facing teams in small and medium-sized businesses the ability to create rewarding and long-lasting relationships with customers</p>
            </div>
        </div>
    </div>
</section>